<!DOCTYPE <!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style>
            h1 {
                color:red;
                text-align: center;
            }
            p {
                color:blue;
                margin-left: 40px;
            }
            </style>
    </head>
    <body>
        <h1>Welcome To MODI TEA</h1>
        <p>Just One cup tea can change your day!!</p>
       
        
        <button>Must Visit</button>
        
        
        <script src="" async defer></script>
    </body>
</html>
